extends ./layouts/default

block title
  title List of maps

block header-text
  h1= 'Right choices made easy'

block content
  div.map-list-wrapper
    if lang
      div#lang
        | Language:
        span=lang
    if mapList.length > 0
      ul.map-list
        each map in mapList
          li.map-item
            a.map-link(href=env + 'show/' + map.id)
              .map-image
                img(src='//placekitten.com/800/600')
              .map-info
                h2.map-title= map.name
                .map-excerpt
                  .map-row
                    .map-col.parent=map.child1
                    .map-col.parent=map.child2
                    .map-col.parent=map.child3
                .map-footer
                  div.map-author
                    span.label Author&nbsp;
                    span.value= map.User.name
                  div.map-created
                    span.label Added&nbsp;
                    span.value= map.createdAt
      -var currentPage = url.split('/')
      -var currentPageIndex = currentPage.length > 3 ? parseInt(currentPage[3]) : 1
      -var nextPageUrl = '/' + currentPage[1] + '/' + currentPage[2] + '/' +(currentPageIndex + 1)
      -if (currentPageIndex > 1)
        a.page-navigation(href='/' + currentPage[1] + '/' + currentPage[2] + '/' + (currentPageIndex - 1))
          | Previous page

      a.page-navigation(href='/' + currentPage[1] + '/' + currentPage[2] + '/' +(currentPageIndex + 1))
        | Next page
    else
      | Wow, you've seen them all in this section!