extends ./layouts/default

block title
  title List of maps

block header-text
  h1= 'Right choices made easy'

block content
  div.map-list-wrapper
    if lang
      div#lang
        | Language:
        span=lang
    ul.map-list
      each map in mapList
        li.map-item
          a.map-link(href=env + 'show/' + map.id)
            .map-image
              img(src='http://placekitten.com/800/600')
            .map-info
              .map-title= map.name
              .map-excerpt
                .map-row
                  .map-col.parent
                    | Somethin somethin first opt
                  .map-col.parent
                    | Second option here
                  .map-col.parent
                    | ...and the third option
              .map-footer
                div.map-author
                  span.label Author&nbsp;
                  span.value= map.User.name
                div.map-created
                  span.label Added&nbsp;
                  span.value= map.createdAt
