extends ./layouts/default

block metadata
  meta(property='og:url', content='http://solvee.click'+url)
  meta(property='og:type', content='website')
  meta(property='og:title', content='List of Maps')
  meta(property='og:image', content='http://solvee.click/assets/logo/logo_black.svg')
  meta(property='fb:app_id', content='1701796373392975')
  meta(property='og:image:width' content=920)
  meta(property='og:image:height' content=128)
  meta(property='og:description' content='Right decisions made easy!')

block title
  title List of maps

block header-text
  h1= 'Right decisions made easy'

block content
  div.map-list-wrapper
    if lang
      div#lang
        | Language:
        span=lang
    if mapList.length > 0
      ul.map-list
        each map in mapList
          li(class='map-item ' + map.Style.name.toLowerCase())
            a.map-link(href='/' + map.id)
              .map-image
                if (map.photoLink)
                  img(src=map.photoLink)
              .map-info
                h2.map-title= map.name
                .map-excerpt
                  .map-row
                    .map-col.parent=map.child1
                    .map-col.parent=map.child2
                    .map-col.parent=map.child3
                .map-footer
                  div.map-author
                    span.label Author&nbsp;
                    span.value= map.User.name
                  div.map-created
                    span.label Added&nbsp;
                    span.value(title=moment(map.createdAt).format('lll'))= moment(map.createdAt).fromNow()
      -if (currentPage > 1)
        a.btn.page-navigation(href=nextPagePrefix + (currentPage - 1))
          | Previous page
      -if (mapList.length > 20)
        a.btn.page-navigation(href=nextPagePrefix + (currentPage + 1))
          | Next page
    else
      | Wow, you've seen them all in this section!
