extends ./layouts/default

include ./mixins/map-items.jade

block metadata
  meta(property='og:url', content=env+url)
  meta(property='og:type', content='website')
  meta(property='og:title', content=name)
  meta(property='og:image', content=mapCoverUrl)
  meta(property='fb:app_id', content=fbClientId)
  meta(property='og:image:width' content=920)
  meta(property='og:image:height' content=128)
  meta(property='og:description' content='Solve this and other life decisions on Solvee!')

block js
  script(src="/assets/main.js")

block title
  title= name

block header-text
  h1= name

block content
  div(class='map-wrapper ' + style)
    .map-header(style='background-image:url(' + mapCoverUrl  + ')')
      h2.map-title= name
    .map-meta
      .creator Created by:
        a.creator-name(href='/maps/users/'+ userId)= username
    .map-row
      each option, index in map.options
        +map-item(option, 'col-' + index)
    +child-rows(map.options, 0)
    if (isOwner)
      .owner-buttons
        a.btn-secondary#edit-map(href='/maps/build/' + id) Edit
        a.btn-secondary#delete-map Delete
